.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
}
.formControl.error span{
    color: red;
}
.formSubmissoinError{
    /* border: red 2px solid; */
    padding: 5px;
    color: red;
}

.inputElem{
    margin: 20px 0;
    display: flex;
}